<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(root_path, class: "navbar-brand white-font") do %>
        <b>Lazy</b>Judge<sup>&alpha;</sup>
      <% end %>
    </div>

    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to(root_path, class: "team-name") do %>
            <strong><%= current_user.user_name %></strong>
          <% end %>
        </li>

        <% if Setting.contest_timer_stop.nil? %>
          <li><a href="#"><strong>----</strong></a></li>
        <% else %>
          <li><a href="#"><strong><span id="timer"></span> <span id="clock"></span></strong></a></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Problem list", problems_path %></li>
        <li><%= link_to "Clarification", clarifications_path %></li>
        <li><%= link_to "Submission", submissions_path %></li>
        <li><%= link_to "Score board", score_board_path %></li>
        <li><%= link_to "| Logout |", session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</nav>

<%= subscribe_to "/judge/notify" %>
<script type="text/javascript">
  PrivatePub.subscribe("/judge/notify", function(data, channel) {
    toastr.info("<h3>" + data.notification + "</h3>");
    toastr.options = {
      "closeButton": false,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-bottom-center",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    };
  });
</script>
