<% title '| Score Board' %>
<div class="container" style="margin-top: 68px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Score board</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th style="width:80px">#</th>
                    <th>Team name</th>
                    <th style="width:200px">Sloved</th>
                    <th style="width:200px">Tried</th>
                    <th style="width:200px">Points</th>
                </tr>
            </thead>
            <tbody>
                <% rank = 0 %>
                <% @score.each do |board| %>
                    <tr>
                        <td> <%= rank += 1 %> </td>
                        <td> <%= board["user_name"] %> </td>
                        <td> <%= board["solved_problem"] %> </td>
                        <td> <%= board["tried_problem"] %> </td>
                        <td> <%= board["point"] %> </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
