<div class="container" style="margin-top: 60px;">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <% if Setting.contest_timer_stop.nil? %>
        <%= button_to "Start Contest", {controller: 'admin/contest', action: :contest_start}, method: :post,
        class:"btn btn-primary", style: "margin-bottom: 15px;height: 52px;" %>
      <% else %>
        <%= button_to "Stop Contest", {controller: 'admin/contest', action: :contest_stop}, method: :post,
        class:"btn btn-primary", style: "margin-bottom: 15px;height: 52px;" %>
      <% end %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Contest summary</h3>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div style="padding: 10px;">
              <ul class="list-group">
                <li class="list-group-item"><span class="badge"><%= @user_info[:user_number] %></span>Total number of user</li>
                <li class="list-group-item"><span class="badge"><%= @user_info[:admin_number] %></span>Number of admin</li>
                <li class="list-group-item"><span class="badge"><%= @user_info[:judge_number] %></span>Number of judge</li>
                <li class="list-group-item"><span class="badge"><%= @user_info[:team_number] %></span>Number of team</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div style="padding: 10px;">
              <ul class="list-group">
                <li class="list-group-item"><span class="badge"><%= @problem_info[:problem_number] %></span>Total number of problem</li>
                <li class="list-group-item"><span class="badge"><%= @problem_info[:submission_number] %></span>Total number of submission</li>
                <li class="list-group-item"><span class="badge"><%= @problem_info[:clarification_number] %></span>Total number of clarification</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div style="padding: 10px;">
              <h4>Contest settings</h4>
              <% if flash[:setting_error] %>
              <strong style="color: red">Setting error:</strong>
              <div class="text-warning" style="margin-left: 8px">
                <%= simple_format flash[:setting_error] %>
              </div>
              <% end %>
              <ol class="breadcrumb">
                <li class="active"><strong>Contest duration: </strong><%= Setting.contest_duration || 0 %> minute</li>
              </ol>
              <ol class="breadcrumb">
                <li class="active"><strong>C compiler: </strong><%= Setting.contest_c_com || "not set" %></li>
              </ol>
              <ol class="breadcrumb">
                <li class="active"><strong>C++ compiler: </strong><%= Setting.contest_cpp_com || "not set" %></li>
              </ol>
              <a data-toggle="modal" href="#settings-form">Change settings</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="settings-form" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-body" style="padding:40px 50px;">
        <%= simple_form_for :setting, url: admin_setting_path, mathod: :post do |f| %>
          <%= f.input :duration, label: "Contest Duration(in minute)",
          as: :integer, input_html: { value: Setting.contest_duration || 0 } %>
          <%= f.input :c_com, label: "C compiler url",
          as: :url, input_html: { value: Setting.contest_c_com || 'not set' } %>
          <%= f.input :cpp_com, label: "C++ compiler url",
          as: :url, input_html: { value: Setting.contest_cpp_com || 'not set', required: true } %>
          <%= f.submit 'Save' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
