<!DOCTYPE html>
<html>
<head>
  <title>Lezyjudge <%= yield(:title) || 'Lezyjudge' %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/nav/visitor_nav' if !current_user %>
  <% if current_user %>
    <%= render 'layouts/nav/team_nav' if current_user.team? %>
    <%= render 'layouts/nav/judge_nav' if current_user.judge? %>
    <%= render 'layouts/nav/admin_nav' if current_user.admin? %>
  <% end %>

  <% if flash[:notice] %>
  <div class="alert <%= flash[:type] ||= "alert-info" %> alert-dismissible" role="alert" style="margin-top:50px;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= flash[:notice] %>
  </div>
  <% end %>

<%= yield %>

</body>
</html>
